server {
    listen 80;
    server_name _;
    
    location / {
        return 301 https://$host$request_uri;
    }
}   

server {
    listen 443 ssl;
    server_name _;
    
    ssl_certificate /etc/nginx/certs/server.crt;
    ssl_certificate_key /etc/nginx/certs/server.key;

    ssl_protocols TLSv1.2 TLSv1.3;
    ssl_ciphers 'HIGH:!aNULL:!MD5';

    location /api/python/ {
        proxy_pass http://{{ hostvars[groups['WebServer'][0]]['ansible_default_ipv4']['address'] }}:5000/;
        proxy_set_header Host $host;
        proxy_set_header X-Real-IP $remote_addr;
        proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
        proxy_set_header X-Forwarded-Proto $scheme;
    }

    location /api/node/ {
        proxy_pass http://{{ hostvars[groups['WebServer'][0]]['ansible_default_ipv4']['address'] }}:3000/;
        proxy_set_header Host $host;
        proxy_set_header X-Real-IP $remote_addr;
        proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
        proxy_set_header X-Forwarded-Proto $scheme;
    }

    location /grafana/ {
        proxy_pass https://{{ hostvars[groups['WebServer'][0]]['ansible_default_ipv4']['address'] }}:3001/;
        proxy_ssl_verify off;
        proxy_set_header Host $host;
        proxy_set_header X-Real-IP $remote_addr;
        proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
        proxy_set_header X-Forwarded-Proto $scheme;
    }

    location /prometheus/ {
        proxy_pass http://{{ hostvars[groups['WebServer'][0]]['ansible_default_ipv4']['address'] }}:9090/;
        proxy_set_header Host $host;
        proxy_set_header X-Real-IP $remote_addr;
        proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
        proxy_set_header X-Forwarded-Proto $scheme;
    }

    location /kibana/ {
        proxy_pass http://{{ hostvars[groups['WebServer'][0]]['ansible_default_ipv4']['address'] }}:5601/;
        proxy_set_header Host $host;
        proxy_set_header X-Real-IP $remote_addr;
        proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
        proxy_set_header X-Forwarded-Proto $scheme;
    }

    location /cadvisor/ {
        proxy_pass http://{{ hostvars[groups['WebServer'][0]]['ansible_default_ipv4']['address'] }}:8085/;
        proxy_set_header Host $host;
        proxy_set_header X-Real-IP $remote_addr;
        proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
        proxy_set_header X-Forwarded-Proto $scheme;
    }

    location / {
        return 200 "Nginx Reverse Proxy with SSL is working! Try /api/python/, /api/node/, /grafana/, /prometheus/, /kibana/";
        add_header Content-Type text/plain;
    }
}